margin-right: 40px;
}
h1 {
    filter: blur(8px);
    
font-family: Roboto;
color: white;
font-weight: 1;
@@ -15,7 +15,7 @@ h1 {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
h2 {
    filter: blur(8px);
    
font-family: Roboto;
color: white;
font-weight: 1;
@@ -25,7 +25,7 @@ h2 {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
h3 {
    filter: blur(8px);
    
font-family: Roboto;
color: white;
font-weight: 50;
@@ -35,7 +35,7 @@ h3 {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
h4 {
    filter: blur(8px);
    
font-family: Roboto;
color: white;
font-weight: 50;
@@ -45,7 +45,7 @@ h4 {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
h5 {
    filter: blur(8px);
    
font-family: Roboto;
color: white;
font-weight: 50;
@@ -55,7 +55,7 @@ h5 {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
h6 {
    filter: blur(8px);
    
font-family: Roboto;
color: white;
font-weight: 50;
@@ -65,7 +65,7 @@ h6 {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
p {
    filter: blur(8px);
    
font-family: arial;
color: gray;
font-weight: 50;
@@ -75,7 +75,7 @@ p {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
li {
    filter: blur(8px);
    
font-family: arial;
color: gray;
font-weight: 50;
@@ -85,7 +85,7 @@ li {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
details {
    filter: blur(8px);
    
font-family: arial;
color: gray;
font-weight: 50;
@@ -95,7 +95,7 @@ details {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
a:visited {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -114,7 +114,7 @@ a:link {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
a:hover {
    filter: blur(8px);
    
font-family: Verdana;
color: gray;
font-weight: 50;
@@ -124,7 +124,7 @@ a:hover {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
dl {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -134,7 +134,7 @@ dl {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
dt {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -144,11 +144,11 @@ dt {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
dd {
    filter: blur(8px);
    
padding: 20px;
}
audio {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -158,7 +158,7 @@ audio {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
audio:hover {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -168,7 +168,7 @@ audio:hover {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
video {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -178,7 +178,7 @@ video {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
video:hover {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -188,7 +188,7 @@ video:hover {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
address {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -198,7 +198,7 @@ address {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
iframe {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -209,7 +209,7 @@ iframe {
border-width: 0px;
}
section {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -220,7 +220,7 @@ section {
border-width: 0px;
}
img {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -230,7 +230,7 @@ img {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
img:hover {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
@@ -240,11 +240,11 @@ img:hover {
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
p {
    filter: blur(8px);
    
margin: 20px;
}
center {
    filter: blur(8px);
    
font-family: Verdana;
color: white;
font-weight: 50;
