body {
    background-image: url("/assets/images/portapotty.jpg");
    margin-right: 10%;
    margin-left: 10%;
    background-size: 75%;
}
h1 {
    
    font-family: Roboto;
    color: white;
    font-weight: 1;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
h2 {
    
    font-family: Roboto;
    color: white;
    font-weight: 1;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
h3 {
    
    font-family: Roboto;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
h4 {
    
    font-family: Roboto;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
h5 {
    
    font-family: Roboto;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
h6 {
    
    font-family: Roboto;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 5px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
p {
    
    font-family: arial;
    color: gray;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
li {
    
    font-family: arial;
    color: gray;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
details {
    
    font-family: arial;
    color: gray;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
a:visited {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.6), rgba(55, 55, 55, 0.6));
    padding: 3px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
a:link {
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 2px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
a:hover {
    
    font-family: Verdana;
    color: gray;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 3px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
dl {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 2px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
dt {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 2px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
dd {
    
    padding: 20px;
}
audio {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 6px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
audio:hover {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 6px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
video {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
video:hover {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
address {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
iframe {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
    border-width: 0px;
}
section {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
    border-width: 0px;
}
img {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.6), rgba(100, 100, 100, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
img:hover {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
p {
    
    margin: 20px;
}
center {
    
    font-family: Verdana;
    color: white;
    font-weight: 50;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(155, 155, 155, 0.6));
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.6);
}
