body {
background-image: linear-gradient(to bottom, #b9e0eb, #96d485, #b9e0eb);
color: #96d485;
    margin-left: 40px;
    margin-right: 40px;
}
h1 {
filter: blur(0px);
font-family: Roboto;
color: white;
font-weight: 1;
border-radius: 10px;
background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.3), rgba(100, 100, 100, 0.3));
padding: 5px;
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
h2 {
filter: blur(0px);
font-family: Roboto;
color: white;
font-weight: 1;
border-radius: 10px;
background-image: linear-gradient(to bottom, rgba(155, 155, 155, 0.3), rgba(100, 100, 100, 0.3));
padding: 5px;
box-shadow: 2px 2px 2px rgba(100, 100, 100, 0.5);
}
h3 {
filter: blur(0px);
font-family: Roboto;
